.App {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  color: #333;
}

nav a:hover {
  color: #007BFF;
}
